<div class="tab-block">


{{!-- Attributes --}}
<div class="attributes-flexrow">
    <ol class="attributes-list">
        <li class="attributes-header major flexrow">
        <span class="attribute-header">{{ localize "MTA.Physical" }}</span>
        </li>
        <li class="attributes-header flexrow">
        <span class="attribute-key">{{ localize "MTA.Attribute" }}</span>
        <span class="attribute-valueHeader">{{ localize "MTA.Value" }}</span>
        </li>
        {{#each config.attributes_physical as |cvalue ckey|}}
            {{{rollableInput ../actor "attributes_physical" (localize ckey)}}}
        {{/each}}
    </ol>

<ol class="attributes-list">
    <li class="attributes-header major flexrow">
    <span class="attribute-header">{{ localize "MTA.Social" }}</span>
    </li>
    <li class="attributes-header flexrow">
    <span class="attribute-key">{{ localize "MTA.Attribute" }}</span>
    <span class="attribute-valueHeader">{{ localize "MTA.Value" }}</span>
    </li>
    {{#each config.attributes_social as |cvalue ckey|}}
        {{{rollableInput ../actor "attributes_social" ckey}}}
    {{/each}}
</ol>

<ol class="attributes-list">
    <li class="attributes-header major flexrow">
    <span class="attribute-header">{{ localize "MTA.Mental" }}</span>
    </li>
    <li class="attributes-header flexrow">
    <span class="attribute-key">{{ localize "MTA.Attribute" }}</span>
    <span class="attribute-valueHeader">{{ localize "MTA.Value" }}</span>
    </li>
    {{#each config.attributes_mental as |cvalue ckey|}}
        {{{rollableInput ../actor "attributes_mental" ckey}}}
    {{/each}}
</ol>
</div>

{{!-- Skills --}}
    <div class="attributes-flexrow">
    <ol class="attributes-list">
        <li class="attributes-header flexrow">
        <span class="attribute-key">{{ localize "MTA.Skill" }}</span>
        <span class="attribute-valueHeader">{{ localize "MTA.Value" }}</span>
        </li>
        {{#each config.skills_physical as |cvalue ckey|}}
            {{{rollableInput ../actor "skills_physical" (localize ckey)}}}
                {{#if (eq ckey "art_1")}} 
                    <!-- Agregar un input solo si la clave es "customSkill" -->
                    <input type="text" name="system.skills_physical.customSkillName_1" 
                           value="{{../actor.system.skills_physical.customSkillName_1}}" 
                           placeholder="{{''}}">
                {{/if}}
                    {{#if (eq ckey "art_2")}} 
                    <!-- Agregar un input solo si la clave es "customSkill" -->
                    <input type="text" name="system.skills_physical.customSkillName_2" 
                           value="{{../actor.system.skills_physical.customSkillName_2}}" 
                           placeholder="{{''}}">
                {{/if}}
                    {{#if (eq ckey "control_1")}} 
                    <!-- Agregar un input solo si la clave es "customSkill" -->
                    <input type="text" name="system.skills_physical.customSkillName_3" 
                           value="{{../actor.system.skills_physical.customSkillName_3}}" 
                           placeholder="{{''}}">
                {{/if}}
                    {{#if (eq ckey "control_2")}} 
                    <!-- Agregar un input solo si la clave es "customSkill" -->
                    <input type="text" name="system.skills_physical.customSkillName_4" 
                           value="{{../actor.system.skills_physical.customSkillName_4}}" 
                           placeholder="{{''}}">
                {{/if}}
        {{/each}}
    </ol>

    <ol class="attributes-list">
        <li class="attributes-header flexrow">
        <span class="attribute-key">{{ localize "MTA.Skill" }}</span>
        <span class="attribute-valueHeader">{{ localize "MTA.Value" }}</span>
        </li>
        {{#each config.skills_social as |cvalue ckey|}}
            {{{rollableInput ../actor "skills_social" ckey}}}
                {{#if (eq ckey "craft_1")}} 
                    <input type="text" name="system.skills_social.customSkillName_1" 
                           value="{{../actor.system.skills_social.customSkillName_1}}" 
                           placeholder="{{''}}">
                {{/if}}
                    {{#if (eq ckey "craft_2")}} 
                    <input type="text" name="system.skills_social.customSkillName_2" 
                           value="{{../actor.system.skills_social.customSkillName_2}}" 
                           placeholder="{{''}}">
                {{/if}}
                {{#if (eq ckey "craft_3")}} 
                    <input type="text" name="system.skills_social.customSkillName_3" 
                           value="{{../actor.system.skills_social.customSkillName_3}}" 
                           placeholder="{{''}}">
                {{/if}}
        {{/each}}
    </ol>

    <ol class="attributes-list">
        <li class="attributes-header flexrow">
        <span class="attribute-key">{{ localize "MTA.Skill" }}</span>
        <span class="attribute-valueHeader">{{ localize "MTA.Value" }}</span>
        </li>
        {{#each config.skills_mental as |cvalue ckey|}}
            {{{rollableInput ../actor "skills_mental" ckey}}}
                {{#if (eq ckey "science_1")}} 
                    <input type="text" name="system.skills_mental.customSkillName_1" 
                           value="{{../actor.system.skills_mental.customSkillName_1}}" 
                           placeholder="{{''}}">
                {{/if}}
                    {{#if (eq ckey "science_2")}} 
                    <input type="text" name="system.skills_mental.customSkillName_2" 
                           value="{{../actor.system.skills_mental.customSkillName_2}}" 
                           placeholder="{{''}}">
                {{/if}}
                {{#if (eq ckey "science_3")}} 
                    <input type="text" name="system.skills_mental.customSkillName_3" 
                           value="{{../actor.system.skills_mental.customSkillName_3}}" 
                           placeholder="{{''}}">
                {{/if}}
        {{/each}}
    </ol>
    </div>

    <div class="kInput statBox">
        <h4> {{ localize "MTA.EpicAttributes" }}</h4>
        <div class="gold-border"> </div>
        <div class="armourGrid">
          {{#each config.epic_attributes as |cvalue ckey|}}
          {{#with (lookup ../system.epic_attributes ckey)}}
            <span>
              <label class="button attribute-button" for="{{cvalue}}{{../../actor.id}}">{{localize cvalue}}</label>
            </span>
            <div class="niceNumber digits2" >
              <input name="system.epic_attributes.{{ckey}}.value" type="text" placeholder="0" data-dtype="Number" onchange="Number(this.value);" value="{{numberFormat value decimals=0 sign=true}}">
              <div class="numBtns">
                <div class="plusBtn">+</div>
                <div class="minusBtn">−</div>
              </div>
            </div>
          {{/with}}
          {{/each}}
    </div>
    </div>
</div>