<div class="tab-block">


{{!-- Attributes --}}
<div class="attributes-flexrow">
    <ol class="attributes-list">
        <li class="attributes-header major flexrow">
        <span class="attribute-header">{{ localize "MTA.Physical" }}</span>
        </li>
        <li class="attributes-header flexrow">
        <span class="attribute-key">{{ localize "MTA.Attribute" }}</span>
        <span class="attribute-valueHeader">{{ localize "MTA.Value" }}</span>
        </li>
        {{#each config.attributes_physical as |cvalue ckey|}}
            {{{rollableInput ../actor "attributes_physical" ckey}}}
        {{/each}}
    </ol>

<ol class="attributes-list">
    <li class="attributes-header major flexrow">
    <span class="attribute-header">{{ localize "MTA.Social" }}</span>
    </li>
    <li class="attributes-header flexrow">
    <span class="attribute-key">{{ localize "MTA.Attribute" }}</span>
    <span class="attribute-valueHeader">{{ localize "MTA.Value" }}</span>
    </li>
    {{#each config.attributes_social as |cvalue ckey|}}
        {{{rollableInput ../actor "attributes_social" ckey}}}
    {{/each}}
</ol>

<ol class="attributes-list">
    <li class="attributes-header major flexrow">
    <span class="attribute-header">{{ localize "MTA.Mental" }}</span>
    </li>
    <li class="attributes-header flexrow">
    <span class="attribute-key">{{ localize "MTA.Attribute" }}</span>
    <span class="attribute-valueHeader">{{ localize "MTA.Value" }}</span>
    </li>
    {{#each config.attributes_mental as |cvalue ckey|}}
        {{{rollableInput ../actor "attributes_mental" ckey}}}
    {{/each}}
</ol>
</div>

{{!-- Skills --}}
    <div class="attributes-flexrow">
    <ol class="attributes-list">
        <li class="attributes-header flexrow">
        <span class="attribute-key">{{ localize "MTA.Skill" }}</span>
        <span class="attribute-valueHeader">{{ localize "MTA.Value" }}</span>
        </li>
        {{#each config.skills_physical as |cvalue ckey|}}
            {{{rollableInput ../actor "skills_physical" ckey}}}
        {{/each}}
    </ol>

    <ol class="attributes-list">
        <li class="attributes-header flexrow">
        <span class="attribute-key">{{ localize "MTA.Skill" }}</span>
        <span class="attribute-valueHeader">{{ localize "MTA.Value" }}</span>
        </li>
        {{#each config.skills_social as |cvalue ckey|}}
            {{{rollableInput ../actor "skills_social" ckey}}}
        {{/each}}
    </ol>

    <ol class="attributes-list">
        <li class="attributes-header flexrow">
        <span class="attribute-key">{{ localize "MTA.Skill" }}</span>
        <span class="attribute-valueHeader">{{ localize "MTA.Value" }}</span>
        </li>
        {{#each config.skills_mental as |cvalue ckey|}}
            {{{rollableInput ../actor "skills_mental" ckey}}}
        {{/each}}
    </ol>
    </div>
</div>